body {
  font-family: "Rubik";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.m-t-1em {
  margin-top: 1em;
}

.pd-2em {
  padding: 2em;
}

.m-t-2em {
  margin-top: 2em;
}

.m-l-1em {
  margin-left: 1em;
}

.black-border {
  border: 1px solid black;
}

.justify-align-content {
  justify-content: center;
  align-items: center;
}

.secondary-title {
  opacity: 0.6;
  font-weight: 500;
  font-size: x-large;
}

.app-container {
  height: 25em;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.profile-picture {
  height: 44px;
  width: auto;
  border-radius: 100%;
}

.username {
  color: #333;
  font-size: 1em;
  margin-bottom: 0.375em;
}

.portfolio {
  color: #5c75f6;
  text-decoration: none;
  font-size: 0.875em;
}

.username-profile-picture-wrapper {
  background: #fff;
  border: 1px solid #dcd9d9;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  padding: 1em;
}
.git-statistics {
  background: #fff;
  border-right: 1px solid #dcd9d9;
  border-bottom: 1px solid #dcd9d9;
  border-left: 1px solid #dcd9d9;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.stats-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.stats-list-item-heading {
  font-size: 0.875em;
  letter-spacing: 0.01em;
  color: #888;
}

.stats-list-item-paragraph {
  font-size: 1em;
  letter-spacing: 0.01em;
  color: #555;
}
