.App {
  /*text-align: center;*/
  margin: 10px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


._mg{
  margin :10px;
}

._wid{
  width: 20%;
  margin-bottom: 5px;
}

.vertical-align{
  vertical-align: unset;
}
._display-inline{
  display: inline-block;
  margin-right:10px;
}
.align-centre{
  text-align: center;
  margin-top: 20%;
}
._user{
  margin-right:5px;
}
._color{
  color: white !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
